{% for post in posts %}
 {% if loop.index%3==1  %}  <div class="row"> {% endif %}
 {% include 'BTBundle:Frontend/Post:post_item.html.twig' %}
 {% if loop.index%3==0 or loop.index == posts.currentPageResults|length %} <div class="clear"></div>  </div><!-- end row --> {% endif %}
{% else %}
 <h3>Посты отсутствуют</h3>
{% endfor %}

{{ pagerfanta(posts, 'default_2') }}
