{% extends 'BTBundle:Frontend/Base:base.html.twig'%}

{% block title %}Редактировать пост{% endblock %}
{% block header %}Редактировать пост{% endblock %}


{% block content %}
{% if message is defined %}
<b>{{ message }}</b>
{% endif %}

<form action="{{ path('profile_admin_edit_post', {id: post.id}) }}" method="post" {{ form_enctype(form) }}>
 {% include 'BTBundle:Frontend/ProfileAdminPost:form.html.twig' %}

 {% if post.isPublished == false %}
 <input type="submit" value="Опубликовать" onclick="$('#post_pub_flag').val(1)">
 {% else %}
 <input type="submit" value="Снять с публикации" onclick="$('#post_pub_flag').val(-1)">
 {% endif %}
</form>
{% endblock %}