{% import 'BTBundle:Frontend/Base:forms.html.twig' as forms %}

<form action="" method="post">
{{ forms.errors(form) }}
{{ forms.row(form._token) }}

{{ forms.row(form.url) }}
<input type="submit">
</form>
