!app/cache/
app/cache/*

!app/logs/
app/logs/*

app/config/db_parameters.yml

web/bundles/

web/media/p/i/*
!web/media/p/i/unknow.jpg
web/media/p/a/i/*
web/media/p/a/f/*
!web/media/p/a/f/.htaccess

web/cache/*
