{% if env.user %}
{% else %}
<div class="content-wiev_item">
   <h3>Сообщество Свободных Писателей Фрипортер.Ру объявляет старт литературного творческого конкурса с ценными призами!</h3>
    <p>В период с ___ по ___ набери максимальное количество Конкурсных Баллов и получи возможность выиграть один из 3 смартфонов Samsung Galaxy SIII или один из 20 сертификатов на сумму до 5000 рублей от интернет -магазина OZON.RU.</p>
    <ul class="expand_cont">
        <li>
            <h4 id="expand">правила конкурса предельно просты:</h4>
            <div class="content_main"> 
				<p style="border-bottom:1px dotted #BFBFBF;border-top:1px dotted #BFBFBF;">
					<span style="line-height: 99px;display: inline-block;"><img style="margin: 0 45px 0 15px;vertical-align: middle;border: 0;padding: 0;" alt="new" src="/bundles/bt/img/new.png" valign="middle"/><span style="line-height: 18px;display: inline-block;vertical-align: middle; width: 79.8%; margin: 10px 0;"><span style="color: #ff9212;">1.</span> Пиши интересные\популярные\смешные\спорные\полезные Конкурсные Статьи. Даже если ты думаешь, что не умеешь красиво писать - мы докажем обратное и научим писать “вирусные” и по-настоящему интересные статьи.</span></span>
					<span style="border-bottom:1px dotted #BFBFBF;border-top:1px dotted #BFBFBF; line-height: 99px;display: inline-block;"><span style="line-height: 18px;display: inline-block;vertical-align: middle; width: 79.8%; margin: 10px 0;"><span style="color: #ff9212;">2.</span> Делись своей Конкурсной Статьей с друзьями\знакомыми\коллегами и получи их поддержку в виде лайков в социальных сетях VK/FB/ОД/TW/G+. Пиши больше статей - получай больше лайков! Каждый лайк твоей Конкурсной Статьи приносит тебе 2 балла!</span><img style="margin: 0 15px 0 45px;vertical-align: middle;border: 0;padding: 0;" alt="user" src="/bundles/bt/img/user.png" valign="middle"/></span>
					<span style="line-height: 99px;display: inline-block;"><img style="margin: 0 45px 0 15px; vertical-align: middle;border: 0;padding: 0;" alt="new" src="/bundles/bt/img/new.png" valign="middle"/><span style="line-height: 18px;display: inline-block;vertical-align: middle; width: 79.8%; margin: 10px 0;"><span style="color: #ff9212;">3.</span> Выигрывай один из 3 смартфонов Samsung Galaxy SIII или один 20 сертификатов на сумму до 5000 рублей от интернет-магазина OZON.RU.
					</span>
					</span>
				</p>
		</div>
        </li>
        <li >
            <h4 id="expand">как набирать баллы</h4>
            <div class="content_main">
				<p style="text-transform: uppercase; font-size: 17px;">Конкурсные Баллы можно набирать ежедневно несколькими способами:</p>
					<ul class="tick">
					<li>написание Конкурсных Статей на свободную тему (если нет идей - мы поможем :))</li>
					<li>лайки и репосты от Ваших друзей в VK/FB/ОД/TW/G+</li>
					<li>вопросы, ответы и комментарии на сайте Конкурса</li>
					<li>помощь модераторам Конкурса</li>
					<li>приглашение друзей к участию в Конкурсе</li></ul>
					<a href="/" style="margin-top: 15px; display: block;"><img src="/bundles/bt/img/tabl-ico.png" alt="table" 
					style="vertical-align: middle;border: 0;padding: 0;"/><span style="padding-left: 5px;">Полную таблицу начисления баллов смотрите здесь!</span></a>
					<br>
					<p>Чем больше Конкурсных Статей ты пишешь в день, тем больше баллов получаешь! Каждая следующая приносить больше баллов. Стоимость Конкурсных Статей может составлять от 10 до 200 баллов! Для своей статьи ты можешь выбрать любую тему, из любой сферы. Это может быть что-угодно:</p>
					<ul class="tick">
					<li>журналистское расследование</li>
					<li>решение насущной проблемы</li>
					<li>описание твоих взглядов на что-либо</li>
					<li>полезный совет кому угодно</li>
					<li>просто интересный и цепляющий внимание “кусочек полезной информации”.</li></ul>
			</div>
        </li>
		
		    <li>
            <h4 id="expand">призы</h4>
				 <div class="priz">
                                    <div id="priz_item">
                                    <img src="/bundles/bt/img/1.png"/>
									<p style="color: #ff8a00;">1 место</p>
									<p style="font-size: 17px;text-transform: uppercase;">Samsung galaxy SIII (чёрный)</p>
									<p>Samsung Galaxy S III (образец: GT-i9300) — коммуникатор компании Samsung Electronics 
									на основе операционной системы Android. Samsung Galaxy S III в настоящее время является 
									флагманским смартфоном на основе операционной системы Android, а также представителем тройки 
									флагманских смартфонов, в которую, помимо Samsung Galaxy S III, входят Apple iPhone 5 и Nokia Lumia 920.</p>
									<br>
                                    <div class="clear"></div>
                                    </div>
                                    <div id="priz_item">
                                    <img src="/bundles/bt/img/2.png"/>
									<p style="color: #ff8a00;">2 место</p>
									<p style="font-size: 17px;text-transform: uppercase;">Samsung galaxy SIII
									(чёрный)</p><p>Samsung Galaxy S III (образец: GT-i9300) — коммуникатор компании 
									Samsung Electronics на основе операционной системы Android. Samsung Galaxy S III в 
									настоящее время является флагманским смартфоном на основе операционной системы Android, 
									а также представителем тройки флагманских смартфонов, в которую, помимо Samsung Galaxy S 
									III, входят Apple iPhone 5 и Nokia Lumia 920.</p>
									<br>
                                    <div class="clear"></div>
                                    </div> 
                                    <div id="priz_item">
                                    <img src="/bundles/bt/img/1.png"/><p style="color: #ff8a00;">3 место</p><p style="font-size: 17px;text-transform: uppercase;">Samsung galaxy SIII (чёрный)</p><p>Samsung Galaxy S III (образец: GT-i9300) — коммуникатор компании Samsung Electronics на основе операционной системы Android. Samsung Galaxy S III в настоящее время является флагманским смартфоном на основе операционной системы Android, а также представителем тройки флагманских смартфонов, в которую, помимо Samsung Galaxy S III, входят Apple iPhone 5 и Nokia Lumia 920.</p>
                                    <br>
									<div class="clear"></div>
                                    </div>
                                    <div id="priz_item">
                                    <img src="/bundles/bt/img/2.png"/><p style="color: #ff8a00;">4 место</p><p style="font-size: 17px;text-transform: uppercase;">Samsung galaxy SIII (чёрный)</p><p>Samsung Galaxy S III (образец: GT-i9300) — коммуникатор компании Samsung Electronics на основе операционной системы Android. Samsung Galaxy S III в настоящее время является флагманским смартфоном на основе операционной системы Android, а также представителем тройки флагманских смартфонов, в которую, помимо Samsung Galaxy S III, входят Apple iPhone 5 и Nokia Lumia 920.</p>
                                    <br>
									<div class="clear"></div>
                                    </div> 
                                    
                                    <div class="clear"></div>                                   
				</div>
        </li>
   
    </ul>
    <a href="/" class="blu-button">принять участие прямо сейчас!</a>

    
</div>
{% endif %}