{% extends 'BTBundle:Frontend/Default/how_it_work:base.html.twig'%}

{% block title %}Условия{% endblock %}

{% block info %}
<img style="float: left; margin-right: 10px;" src="/bundles/bt/img/how.jpg"/><p>Истории про конец света умрут только непосредственно во время самого конца света. Поразит ли нас новый вирус, как в «Заражении»? Погубят ли потоп или засуха, как в «Послезавтра»? Вариантов много — суть одна. В преддверии очередной «роковой даты» КиноПоиск предлагает скоротать время с пользой и как следует подготовиться.<br /><br />
Конец света наступит или не наступит вне зависимости от того, верим мы в него или нет. Его можно ждать смиренно. Можно разрабатывать планы по спасению себя и близких. А можно не сомневаться в том, что конец света переживаем, и углубиться в фантазии на тему постапокалиптического будущего. Для всех трех случаев мы подобрали свои подходящие фильмы.</p>
<h3>Добавляйте качественные и яркие изображения</h3>
<p>Чем больше Конкурсных Статей ты пишешь в день, тем больше баллов получаешь! Каждая следующая приносить больше баллов. Стоимость Конкурсных Статей может составлять от 10 до 200 баллов! Для своей статьи ты можешь выбрать любую тему, из любой сферы. Это может быть что-угодно: </p>
<ul><li>журналистское расследование,</li><li>решение насущной проблемы,</li><li>описание твоих взглядов на что-либо,</li><li>полезный совет кому угодно,</li><li>просто интересный и цепляющий внимание “кусочек полезной информации”.</li></ul>
<p>Конец света наступит или не наступит вне зависимости от того, верим мы в него или нет. Его можно ждать смиренно. Можно разрабатывать планы по спасению себя и близких. А можно не сомневаться в том, что конец света переживаем, и углубиться в фантазии на тему постапокалиптического будущего. Для всех трех случаев мы подобрали свои подходящие фильмы.</p>

{% endblock %}