{% extends 'BTBundle:Frontend/Default/how_it_work:base.html.twig'%}

{% block title %}Таблица баллов{% endblock %}

{% block info %}

<table border='0' cellpadding='0' cellspacing='0' id='scores-table'>
   <thead>
   <tr>
      <td>Наименование действия</td>
      <td>Количество Конкурсных баллов</td>
      <td>Количество действий в день</td>
   </tr>
   </thead>
   <tbody>
   <tr>
      <td colspan='3'>Публикация статей</td>
   </tr>
   <tr>
      <td>Публикация Конкурсной Статьи (первая статья с 00:00 по 23:59)*</td>
      <td>10</td>
      <td>1</td>
   </tr>
   <tr>
      <td>Публикация Конкурсной Статьи (вторая статья с 00:00 по 23:59)</td>
      <td>15</td>
      <td>1</td>
   </tr>
   <tr>
      <td>Публикация Конкурсной Статьи (третья статья с 00:00 по 23:59)</td>
      <td>20</td>
      <td>1</td>
   </tr>
   <tr>
      <td>Публикация Конкурсной Статьи (четвертая статья с 00:00 по 23:59)</td>
      <td>25</td>
      <td>1</td>
   </tr>
   <tr>
      <td>Публикация Конкурсной Статьи (пятая статья с 00:00 по 23:59)</td>
      <td>50</td>
      <td>1</td>
   </tr>
   <tr>
      <td>Повышающие коэффициенты за размер статей1</td>
      <td></td>
      <td></td>
   </tr>
   <tr>
      <td>700 - 2500 символов без пробелов</td>
      <td>1</td>
      <td>-</td>
   </tr>
   <tr>
      <td>2500 и более символов без пробелов</td>
      <td>1.5</td>
      <td>-</td>
   </tr>
   <tr>
      <td>Повышающие коэффициенты за добавление картинок к статьям 2 3</td>
      <td></td>
      <td></td>
   </tr>
   <tr>
      <td>Добавление 1-2 картинок к Конкурсной Статье</td>
      <td></td>
      <td>-</td>
   </tr>
   <tr>
      <td>Добавление 3 и более картинок к Конкурсной Статье</td>
      <td>3</td>
      <td>-</td>
   </tr>
   <tr>
      <td>Добавление видео к статье</td>
      <td>5</td>
      <td></td>
   </tr>
   <tr>
      <td colspan='3'>Вопросы и Ответы</td>
   </tr>
   <tr>
      <td>Размещение Конкурсного Вопроса 4</td>
      <td>3</td>
      <td>5</td>
   </tr>
   <tr>
      <td>Размещение Конкурсного Ответа</td>
      <td>3</td>
      <td>5</td>
   </tr>
   <tr>
      <td>Лайки\Share</td>
      <td></td>
      <td></td>
   </tr>
   <tr>
      <td>Лайк или Share в социальных сетях VK/FB/ОД/TW/G+</td>
      <td>2</td>
      <td>неограниченно</td>
   </tr>
   <tr>
      <td>Лайк во внутренней системе "Хороший Пост"</td>
      <td>1</td>
      <td>неограниченно</td>
   </tr>
   <tr>
      <td colspan='3'>Размещение ссылок</td>
   </tr>
   <tr>
      <td>Размещение ссылки на стороннем сайте</td>
      <td>10</td>
      <td>5</td>
   </tr>
   <tr>
      <td colspan='3'>Прочее</td>
   </tr>
   <tr>
      <td>Ежедневный вход на сайт + лайк\share Конкурсному Материалу другого Участника</td>
      <td>20</td>
      <td>1</td>
   </tr>
   <tr>
      <td>Указание на Конкурсный Материал, не соответствующий Правилам (спам/бред)</td>
      <td>20</td>
      <td>неограниченно</td>
   </tr>
   <tr>
      <td>Комментарий к Конкурсному Материалу другого Участника</td>
      <td>2</td>
      <td>5</td>
   </tr>
   <tr>
      <td>Лайк\share к Конкурсному Материалу другого Участника</td>
      <td>1</td>
      <td>5</td>
   </tr>
   <tr>
      <td>Реферальное вознаграждение - 20% от баллов привлеченного Участника 5</td>
      <td></td>
      <td></td>
   </tr>
   </tbody>
</table>

<br>

<p>1. Указанный коэффициент умножается на сумму Конкурсных Баллов за статью, т.е. к примеру, если Участник пишет 3 статью за день и ее размер составляет 2550 символов без пробелов - он получит 20*1.5=50 баллов за нее.</p>
<p>2. Указанный коэффициент умножается на сумму Конкурсных Баллов за статью, т.е. к примеру, если Участник пишет 3 статью за день и добавляет к ней 4 картинки - он получит 20*1.5=30 баллов за нее.</p>
<p>3. Указанные коэффициенты умножаются, т.е. к примеру, если Участник пишет 3 статью за день, добавляет к ней 4 картинки и ее размер составляет 2550 баллов - он получит 20*1.5*1.5=45 баллов за нее.</p>
<p>4. Конкурсные Баллы за создание Конкурсного Ответа начисляются только в случае, если на Вопрос Участника Конкурса был дан хотя бы один ответ от другого Участника.</p>
<p>5. Участнику Конкурса, который привлек к участию в Конкурсе нового участника начисляется 20% от заработанных баллов нового Участника при условии, что новый Участник разместил хотя бы 3 Конкурсных  Статей. Бонусные баллы начисляются ТОЛЬКО за размещение привлеченными Участниками Конкурсных Статей.</p>

{% endblock %}