{% extends 'BTBundle:Frontend/Base:base.html.twig'%}

{% block title %}Мои вопросы{% endblock %}

{% block content %}

<div class="content-wiev_item">
<div class="breadcrumbs">
	<a href="{{ path('homepage') }}">Главная</a>
	<span>Мои вопросы</span>
</div>
<h2>Мои вопросы</h2>
</div>

<div class="content-wiev_answer">
 {% include 'BTBundle:Frontend/Question:list_question.html.twig'%}
</div>

{% endblock %}