{% extends 'BTBundle:Frontend/Base:base.html.twig'%}

{% block stylies %}
    <link rel="stylesheet" href="/bundles/bt/css/style-pop.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/bundles/bt/js/css/facebox.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<div class="content-wiev_item">
<h1>Форма входа</h1>

{% include 'BTBundle:Frontend/Profile:login_form.html.twig' %}

</div>

{% endblock %}