{% extends 'BTBundle:Frontend/Base:base.html.twig'%}

{% block content %}
 {% include 'BTBundle:Frontend/Widget:video_trailer_block.html.twig' %}

 {% include 'BTBundle:Frontend/Widget:info_block.html.twig' %}

 {% render 'BTBundle:Frontend/Widget:postSelector' %}
 
 <div class="clear"></div>

 <div class="content-wiev_more">
  {% include 'BTBundle:Frontend/Post:list_post.html.twig' %}
  <div class="clear"></div>
 </div>

{% endblock %}