<script>
prev_event_id = '{% if events|length > 0 %}{{ events[events|length - 1].id }}{% endif %}';
next_event_id = '{% if events|length > 0 %}{{ events[0].id }}{% endif %}';
loading = false;
function loadNextEvents()
{
    if (loading) return;
    loading = true;
    if (next_event_id == -1) return;
    $.ajax({
        url: '{{ path('next_events') }}/' + next_event_id,
        complete: function(data) {
            data = JSON.parse(data.responseText);
            if (data.status == 'done') {
                next_event_id = data.id;
                $('.jspPane').append(data.content);
                setupScrollActions();
            } else {
                next_event_id = -1;
                alert(data.message);
            }
            loading = false;
        }
    });
}
function loadPrevEvents()
{
    if (loading) return;
    loading = true;
    if (prev_event_id == -1) return;
    $.ajax({
        url: '{{ path('prev_events') }}/' + prev_event_id,
        complete: function(data) {
            data = JSON.parse(data.responseText);
            if (data.status == 'done') {
                prev_event_id = data.id;
                $('.jspPane').prepend(data.content);
                setupScrollActions();
            } else {
                prev_event_id = -1;
                alert(data.message);
            }
            loading = false;
        }
    });
}
function setupScrollActions() {
    $('.story_main').jScrollPane({showArrows: true});
    $('.story_main').bind(
        'jsp-scroll-y',
        function(event, scrollPositionY, isAtTop, isAtBottom) {
            if (isAtTop) {
                loadPrevEvents();
            } else if (isAtBottom) {
                loadNextEvents();
            }
        }
    );
}
$(document).ready(function() {
    setupScrollActions();
    $('.jspPane_gotop').mousedown(function(){
        loadPrevEvents();
    });
    $('.jspPane_godown').mousedown(function(){
        loadNextEvents();
    });
});
</script>

<div class="right_post">
	<h3>История онлайн</h3>

    <span class="jspPane_gotop"></span>

    <div class="story_main">
     {% include 'BTBundle:Frontend/EventsList:list.html.twig' %}
    </div>

    <span class="jspPane_godown"></span>
</div>