<div class="share42init"></div>
<script type="text/javascript" src="/share42/share42.js"></script>
<a href="pop-up.html" rel="facebox" id="fb"></a>
<a href="pop-up.html" rel="facebox" id="vk"></a>
<a href="pop-up.html" rel="facebox" id="tw"></a>
<a href="pop-up.html" rel="facebox" id="od"></a>
<a href="pop-up.html" rel="facebox" id="go"></a>
<a href="pop-up.html" rel="facebox" id="ma"></a>
<a href="pop-up.html" rel="facebox" id="li"></a>