<html>
 <head>
 
  <title>{% block title %}{% endblock %}</title>

{#<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>#}
<script type="text/javascript" src="/bundles/bt/js/jquery.js"></script>
<script type="text/javascript" src="/bundles/bt/js/send-form.js"></script>
<script type="text/javascript" src="/bundles/genemuform/js/select2.js"></script>
<script>
$(document).ready(function(){

$('.menu_block li').hover(function(){
 $(this).find('.menu_level_1').show();
},function(){
 $(this).find('.menu_level_1').hide();
 //$('.menu_block .menu_level_1').slideUp();
})


$("#post_tag").select2({
    width: 'element',
    minimumInputLength: 1,
    query: function (query) {
        query.callback({results: [{id: query.term, text: query.term}]});

        $.ajax({
          url: '{{ path('post_search_promt') }}/' + query.term,
          cache: false
        }).done(function( msg ) {
          var data = {results: eval(msg)}
          data.results.push({id: query.term, text: query.term})
          query.callback(data);
        });
    }
});

})
</script>
{% block scripts %}{% endblock %}

<link href="/bundles/genemuform/css/select2.css" rel="stylesheet"/>
<style>
html, body {margin: 0px; padding: 0px; height: 100%; width: 100%;}
.header {background: #E9E7E7;}
.main_menu>ul>li {float:left; padding-right:4px; width: auto;}

.menu_block {cursor: pointer}
.menu_block ul {list-style:none;}
.menu_block li {background: silver; padding:3px; }
.menu_block li.current_ancestor>a, .menu_block li.current_ancestor>span, .menu_block li.current{font-weight: bold}
.menu_block .menu_level_1 {padding-left:0px; position:absolute; display: none;}
</style>
{% block stylies %}{% endblock %}


 </head>
 <body>

  {% include 'BTBundle:Frontend/Base:header.html.twig' %}

  <h1>{% block header %}{% endblock %}</h1>

  {% block content %}
  {% endblock %}

  {#% include 'BTBundle:Frontend/Post:post_block.html.twig' with {posts: env.getLastPosts(5), title: 'последние'} %#}

  {#% include 'BTBundle:Frontend/Post:post_block.html.twig' with {posts: env.getRandomPosts(5), title: 'случайные'} %#}

 </body>
</html>