<div class="footer">
<div class="footer-body">
<div class="footer-menu">
{{ env.renderedMenu(env.bottomMenu)|raw }}
</div>
<div class="footer-copyrights"><div style="text-align:center;"><p>©Copyright, 2012 freeporter.ru - Cообщество свободных писателей<br />
При использовании материалов с сайта ссылка на источник обязательна.</p></div></div>
</div>
</div>