<table width="100%" class="header">
 <tr>

  <td width="20%">freeporter.ru</td>

  <td width="60%">
   <div class="post_search_form">
    <input type="text" id="post_tag">
    <input type="submit" onClick="window.location.href='{{ path('list_post_by_tag') }}/' + $('#post_tag').val()" value="Поиск">
   </div>
   <div class="menu_block main_menu">{{ env.topMenu|raw }}</div>
  </td>

  <td>
   {% include 'BTBundle:Frontend/Base:user_menu.html.twig' %}
  </td>

 </tr>

</table>