
<div class="menu_block">
{% set user = env.user %}
{% if user %}
{{ env.userMenu|raw }}
{% else %}

<a href="{{ path('profile_login') }}">вход</a> или <a href="{{ path('profile_reg') }}">регистрация</a>

{% endif %}

</div>